In [3]:
%load_ext autoreload
%autoreload 2

import os, sys
import pandas as pd
import numpy as np
import glob

src_dir = os.path.abspath(os.path.join(os.pardir,'src'))
sys.path[0] = src_dir

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Save the age and gender of all respondents who gave all answers

In [4]:
Q = 300
path_read = os.path.join(os.pardir,'data_filter')
path_save = os.path.join(src_dir,os.pardir,'data_filter')

## the list of questions
fname_read = 'IPIP%d_questions_domains.txt'%(Q)
filename = os.path.join(path_read,fname_read)
with open(filename,'r') as f:
    x = f.readlines()
list_q = [h.split()[0] for h in x]

## the data
fname_read = 'df_filter_IPIP%d.csv'%(Q)

filename = os.path.join(path_read,fname_read)
df = pd.read_csv(filename,usecols=list_q).dropna(how='any',axis=0)
inds_sel = df.index


df = pd.read_csv(filename).loc[inds_sel]#,usecols=list_cols)
df.index=df['case']
df_ga = df[['gender','age']]

P = len(df_ga)

df_ga['gender'] = df_ga['gender'].replace(1,0)
df_ga['gender'] = df_ga['gender'].replace(2,1)

fname_save = 'df_demo_ipip%d-no0.csv'%(Q)
filename = os.path.join(path_save,fname_save)
df_ga.to_csv(filename)

/home/martin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/martin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [5]:
df_ga

        gender  age
case
4            1   36
6            0   17
9            1   28
11           0   17
15           1   48
17           0   22
21           1   38
23           0   43
24           1   30
28           1   17
29           1   24
31           0   18
34           0   21
37           0   19
38           1   17
39           1   23
42           1   31
48           1   16
55           0   29
59           0   20
61           0   28
65           0   20
68           1   48
70           0   26
72           0   32
76           0   22
81           1   27
82           0   18
83           0   19
84           1   18
...        ...  ...
334086       1   23
334089       0   37
334092       1   15
334094       1   25
334102       1   15
334106       1   55
334110       1   16
334111       1   16
334112       1   28
334114       1   20
334117       0   31
334121       0   18
334125       1   27
334128       0   20
334129       0   22
334131       1   21
334132       0   32
334134       1   16
334135       1   23
334136       0   42
334138       1   20
334139       1   22
334143       0   22
334148       0   20
334151       1   35
334153       0   57
334154       1   20
334155       0   19
334160       0   36
334161       1   35

[145388 rows x 2 columns]